/*
!LICENSE
!README.md
!browser/
!cua/
!hello/
!create_skill/
!vhtml/
!office_studio/
!drawio/
!ppt_studio/
!video_studio/
!builtin.go
!builtin_embed.go
!builtin_test.go
!go.mod
!go.sum

*.sqlite
*.zip
temp_*
